		<link rel="stylesheet" type="text/css" href="{$static_server}files/assets/grid/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="{$static_server}files/assets/grid/css/style.css" />
		<script type="text/javascript" src="{$static_server}files/assets/grid/js/modernizr.custom.79639.js"></script> 

		<script type="text/javascript" src="{$static_server}files/assets/grid/js/jquery.swatchbook.js"></script>

		{literal}
		<script type="text/javascript">
			$(function() {
			
				$( '#sb-container' ).swatchbook();
			
			});
		</script>

		{/literal}

<div id="main" style="padding-bottom:200px;">
		<div class="container">

			<section class="main">
			
				<div id="sb-container" class="sb-container">
				
				{foreach from=$tags item=tag key=i}
					<div>
						<span class="label_title">Visits: {$tag.total_visits}</span>
						<h4><span><a href='{$base_url}behaviour/label/{$tag.label}'>{$tag.label}</a></span></h4>
					</div>
				{/foreach}
				</div>
		</section>
</div>
</div>
</div>