
<div id="main">
  <div class="widget-body">
  
     <div class="scroll">
         <div style="float: right;"><a href='{$base_url}info/Export_Data' class='btn btn-primary '>Export CSV</a></div><br/>
         <div class='notice' ></div>
          <table class="table table-hover">
              <thead>
                  <tr>
                        <th>Site Id</th>
                      <th>Site name</th>
                        <th>Site URL</th>
                        <th>Created On</th>
                  </tr>
              </thead>
              <tbody>
              
    {foreach from=$sites item=site key=i}
               <tr>
                   <td>{$site.site_id}</td>
                   <td>{$site.site_name}</td>
                   <td>{$site.site_url}</td>
                   <td>{$site.site_created_on}</td>
                   <td><a href='{$static_server}site/edit/{$site.site_id}'>Edit</a></td>
                   <td><a href='#' id='{$site.site_api_key}' name='delete' class='delete_btn'>Delete</a></td>
               </tr>
    {/foreach}
                
                </div>
           </tbody>
       </table>
                
        <div class="pagination-holder black clearfix">
            <ul id="dark-pagination" class="pagination"></ul>
        </div>
    </div>
</div>