/* 
/   Version 1.1
*/


/* HACKS ------------------------------------------------------------*/

.clear{
	clear:both;
	height:1px;
}

.inv{ display:none; }

.alignleft{
	float: left;
	margin: 5px 10px 5px 0px;
}

/* GENERAL ------------------------------------------------------------*/

html, body{ height: 100%; }

body {
	line-height: 1;
	color: #7a7e83;
	font-family: Arial, Helvetica, sans-serif;
	font-size:  100%;
	font-size: 14px;
	line-height: 1.5em;
}

img{
	border: none;
}

.wrapper{
	width: 960px;
	margin: 0px auto 0 140px;
	position: relative;
}

.wrapper p{
	margin-bottom: 20px;
}

#main{
	width: 100%;
	padding-top: 20px;
	#background: #fbfaf7;
}


#logo{
	position: absolute;
	top: 12px;
	left: 10px;
}



/* HEADER ------------------------------------------------------------*/

#header{
	position: relative;
	height: 100px;
}

#header #top-torn{
	position: absolute;
	height: 23px;
	width: 100%;;
	bottom: 0px;
	left: 0px;
}

/* NAVIGATION --------------------------------------------------------*/


#nav{
	display: block;
	position: absolute;
	top: 136px;
	left: 10px;
	height: 79px;
	width: 940px;
}

#nav>li{
	display: block;
	float: left;
	margin-right: 5px;
}

#nav>li#hire{
	float: right;
}

#nav>li>a{
	display: block;
	font-size: 16px;
	color: #d9e2ef;
	text-decoration: none;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 18px;
	padding: 0px 12px;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
}

#nav>li#hire a{
	color: #3c590b;
}

#nav>li:hover>a{
	color: #d9e2ef;
}

#nav>li.current-menu-item>a,
#nav>li.current-menu-item:hover>a{
	color: #7f671d;
}


#nav>li#hire:hover>a{
	color: #3c590b;
}


/* sub navigation */

#nav>li ul{
	display: block;
	margin-top: 33px;
	background: #282d34;
	border-radius:  10px;
	-moz-border-radius:  10px;
	-webkit-border-radius:   10px;
	
	-webkit-box-shadow: 3px 3px 1px rgba(0,0,0,0.2); 
	-moz-box-shadow: 3px 3px 1px rgba(0,0,0,0.2);  
	box-shadow: 3px 3px 1px rgba(0,0,0,0.2); 
}

#nav>li>ul ul{
	margin-top: 0px;
	border-radius: 0px 10px 10px 10px;
	-moz-border-radius: 0px 10px 10px 10px;
	-webkit-border-radius: 0px 10px 10px 10px;
}

#nav>li ul li a{
	display: block;
	padding: 10px 15px;
	display: block;
	font-size: 11px;
	color: #bac0c9;
	text-decoration: none;
}

#nav>li ul li a span{
	display: block;
}

#nav>li ul li a:hover{
	background: #1f2328;
	color: #fff;
}

#nav>li ul li:first-child a:hover{
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
}

#nav>li ul li:last-child a:hover{ /* last item its rounded at top and bottom */
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}
.error_div{
	background-color: #F7ACAC;
	border:4px solid #F7ACAC;
	width:220px;
}

.pause_form .error_div{
	float: left;
}